body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

.carousel-item{
    width: 100%;
    height: 540px;
}

 .btn{
  margin-top: 0;
}



.btn{
  display: inline-block;
  margin-top: .5rem;
  background:var(--light-yellow);
  color:var(--black);
  cursor: pointer;
  font-size: 1rem;
  border-radius: .5rem;
  font-weight: 500;
 
}
